.ro1{
    margin-top: 20px;
}

.imgBack{
    height: 750px;
}
.titleH1{
    margin-top: 300px;
}
.titleH2{
    font-size: 50px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-family: 'Sriracha', cursive;
    color: cornflowerblue;
}

.img1{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.title1{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Athiti', sans-serif;
}
.p1{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
}
.btn1{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Athiti', sans-serif;
}

.img2{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.img3{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
